*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}


.logo{
  font-size: 50px;
  color: #4114a1;
  margin-left: 20px;
}


.ad {
  font-size: 4em;
  font-weight: 900;
  margin-left: 100px;
  margin-top: 40px;
  color: #fff;
}

.FAQ-title{
  text-align: center;
  font-weight: bold;
}



.display {
  padding: 0rem 0rem 5rem 0rem;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.pink {
  display: inline;
  color: #4114a1;
}
.picture {
  width: 60%;
  margin: 0px 0px 0px 150px;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.picture:hover {
  transform: scale(1.3);
  overflow: hidden;
}

.hero-banner{
  background: linear-gradient(90deg, #f92c78, #4114a1);
  overflow: hidden;
}

.details{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.details-section{
  color: #ffffff;
  background: linear-gradient(90deg, #f92c78, #4114a1);
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid  #4114a1;
  border-radius: 40px;
}

.button {
  background-color: #4114a1;
  border: none;
  color: white;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 30%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 40px;
}

.submit-btn{
  margin-left: 45%;
  margin-bottom: 10%;
  background-color: #4114a1;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 40px;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
  }


  .navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #4114a1;
    color: #fff;
    }
    
    .nav-links a {
    color: #fff;
    }
       
    .logo { 
    font-size: 32px;
    }
    
    
    .menu {
    
    display: flex;
    gap: 1em;  
    font-size: 18px;
    }
    
    .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
    }
    
    .menu li {
    padding: 5px 14px;
    }
    
   
  
    .footer{
      background: linear-gradient(90deg, #f92c78, #4114a1);
      color: #ffffff;
    }

footer-basic {
  padding:40px 0;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #4114a1;
}


.faq{
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: #fff;
  color: #e8431a;
  display: flex;
  min-height: 100vh;
  text-align: center;
}


.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #4114a1;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #4114a1;
  border: 1px solid #4114a1;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #4114a1;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}




